{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{{ new.title|censor }}
{% endblock title %}


{% block content %}
<h1>{{ new.title|censor }}</h1>

   <p><strong>Дата публикации:</strong> {{ new.time_in|date:"d.m.Y" }}</p>

   <p><strong>Автор:</strong> {{ new.author.user.username }}</p>

   <p><strong>Рейтинг:</strong> {{ new.rating }}</p>

   <div>
       <h3>Текст статьи:</h3>
       <p>{{ new.text|censor }}</p>
   </div>
   <div style="margin-top: 30px;">
       {% if new.post_type == 'NE' %}
           <a href="/news/{{ new.id }}/edit/" class="btn">&#x270D Редактировать новость</a>
           <a href="/news/{{ new.id }}/delete/ " class="btn">&#10060 Удалить новость</a>
       {% else %}
           <a href="/articles/{{ new.id }}/edit/" class="btn">&#x270D Редактировать статью</a>
           <a href="/articles/{{ new.id }}/delete/" class="btn">&#10060️ Удалить статью</a>
       {% endif %}
   </div>
<a href="/news/">← Назад ко всем новостям</a>
{% endblock content %}
