{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Создание поста</h1>
{% if messages %}
    <div style="margin-bottom: 20px;">
        {% for message in messages %}
            <div style="padding: 10px; background-color: #efc4c7; color: #9e1f24; border-radius: 5px; margin-bottom: 10px;">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>
        <strong>Автор:</strong> {{ form.author }}
    </p>
    <p>
        <strong>Категории:</strong> {{ form.category }}
    </p>
    <p>
        <strong>Заголовок:</strong> {{ form.title }}
    </p>
    <p>
        <strong>Текст:</strong> {{ form.text }}
    </p>
    <input type="submit" value="Save" />
</form>
{% endblock content %}
