{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>Всего новостей: {{ news|length }}</h3>
   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> {{ next_event|default_if_none:"Скоро анонсируем встречу авторов!" }} </h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for new in news %}
           <tr>
               <td><a href="/news/{{ new.id }}/">{{ new.title|censor }}</a></td>
               <td>{{ new.time_in|date:"d.m.Y" }}</td>
               <td>{{ new.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   <div style="margin-bottom: 20px;">
       <a href="/news/create/" class="btn">&#10133 Создать новость</a>
       <a href="/articles/create/" class="btn">&#10133 Создать статью</a>
       <a href="/news/search/" class="btn">&#128269 Поиск</a>
   </div>
{% endblock content %}