{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>Всего новостей: {{ news|length }}</h3>
   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> {{ next_event|default_if_none:"Скоро анонсируем встречу авторов!" }} </h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for new in news %}
           <tr>
               <td><a href="/news/{{ new.id }}/">{{ new.title|censor }}</a></td>
               <td>{{ new.time_in|date:"d.m.Y" }}</td>
               <td>{{ new.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}